body {
  
  width: 100%;
  height: 200px;
  background-color:;
  background-image:  url("https://media.giphy.com/media/eLX5jqhuDYMWA/source.gif");
  background-size: cover;
  background-repeat: no-repeat;
}